/* ant design customize - table */
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table-thead>tr>td {
  background: #f0f0f0;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>thead>tr>th,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>thead>tr>th,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>thead>tr>th,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>thead>tr>th,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>thead>tr>td,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>thead>tr>td,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>thead>tr>td,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>thead>tr>td,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tbody>tr>th,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tbody>tr>th,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tbody>tr>th,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tbody>tr>th,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tbody>tr>td,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tbody>tr>td,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tbody>tr>td,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tbody>tr>td,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tfoot>tr>th,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tfoot>tr>th,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tfoot>tr>th,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tfoot>tr>th,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tfoot>tr>td,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tfoot>tr>td,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tfoot>tr>td,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tfoot>tr>td {
  border-inline-end: 1px solid #dddddd;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table-tbody>tr>th,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table-tbody>tr>td {
  border-bottom: 1px solid #dddddd;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table-thead>tr>th {
  text-align: center;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.ant-table-middle .ant-table-row {
  height: 57px;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6 {
  height: auto;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #000;
}

/* global */
#root {
  min-width: 1600px;
}

h2 {
  font-size: 24px;
}

a:hover {
  color: #1677ff;
}

input[type="date"]::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

/* WorkPerformance */
.work-performance-page input[type="date"] {
  width: 200px;
}

.work-performance-page .search-form .search-input-wrap {
  display: flex;
}

.work-performance-page .search-form .search-input-wrap:nth-child(n+2) {
  margin-top: 16px;
}

.work-performance-page .search-form label {
  display: inline-block;
  width: 100px;
}

.work-performance-page .search-form .search-input {
  margin-right: 20px;
}

.work-performance-page .ant-table-container {
  margin-top: 20px;
}

/* Bom */
.bom-page .add-btn, .bom-page .cancel-btn {
  margin-top: 16px;
}

.bom-page .ant-table-container {
  margin-top: 24px;
}

.bom-page .table-box {
  width: calc(50% - 10px);
}

.bom-page .bordered-box {
  width: calc(50% - 10px);
  height: auto;
  padding: 24px 24px;
  box-sizing: border-box;
}

.bom-page .clickable-table tbody {
  cursor: pointer;
}

#bomNewForm label.label-title {
  font-weight: 500;
}

#bomNewForm input {
  margin-right: 12px;
}

#bomNewForm h3 {
  font-size: 18px;
}

/* OrderNew */
.order-new-page .input-wrap {
  display: flex;
}

.order-new-page .input-wrap:nth-child(n+2) {
  margin-top: 16px;
}

.order-new-page label {
  display: inline-block;
  width: 100px;
}

.order-new-page .input-form {
  margin: 20px;
}

.order-new-page .ant-table-container {
  margin-top: 20px;
}

.order-new-page .input {
  margin-right: 20px;
}

.order-new-page .order-new-table {
  margin-bottom: 16px;
}

.order-new-page .order-new-pdf-upload {
  margin: 16px 0 16px 0;
}

.order-new-page .order-new-btn {
  display: flex;
}

.order-new-page .order-new-btn .order-new-add-btn {
  margin-right: auto;
}

.order-new-page .order-new-btn .order-new-submit-btn {
  margin-left: 16px;
}

/* OrderList */

.order-list-page {
  width: 100%;
}

.order-list-page .order-list-wrap {
  display: flex;
  margin: 16px 0 24px 0;
}

.order-list-page .order-list-wrap .order-new {
  margin-right: auto;
}

/* production-performance-chart */
.perfomance-chart-page .search-input-wrap {
  display: flex;
}

.perfomance-chart-page .search-input-wrap:nth-child(n+2) {
  margin-top: 16px;
}

.perfomance-chart-page label {
  display: inline-block;
  width: 100px;
}

.perfomance-chart-page .search-input {
  margin-right: 20px;
}

.perfomance-chart-page h3 {
  margin-top: 24px;
}

.perfomance-chart-page hr {
  margin-bottom: 24px;
}

/* Login.js Notice.js */
/* content 내부 텍스트 스타일  */
.top-text {
  font-weight: 600;
  font-size: 60px;
  margin: 20px 0 40px 0;
  display: inline-block;
}

.signin-text {
  font-weight: 600;
  font-size: 40px;
  margin: 30px 0 30px 0;
  display: block;
}

.bottom-text {
  font-size: 18px;
  margin: 20px 0 10px 0;
}

.notice-text {
  font-weight: 600;
  font-size: 40px;
  margin: 20px 0 10px 0;
}

.anticon-exclamation-circle {
  color: #eb4739;
  margin-right: 10px;
}

/* Basic.css */
.filter-active {
  background-color: #d9d9d9;
  color: #000;
}

:where(.css-dev-only-do-not-override-vjiwc5).ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #fff;
}

:where(.css-dev-only-do-not-override-vjiwc5).ant-steps .ant-steps-item-wait .ant-steps-item-icon {
  background-color: #fff;
  border-color: #d9d9d9;
}

.bordered-box {
  border: 1px solid #d9d9d9;
  width: 650px;
  height: 782px;
  padding: 40px 45px;
}

.bordered-box-title {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.box-title-line {
  color: #000;
  flex: 1;
  margin-left: 20px;
}

div.flex-line {
  display: flex;
  gap: 165px;
  margin-bottom: 30px;
}

div.flex-div {
  display: flex;
  gap: 20px;
  align-items: center;
}

div.modal-line {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

div.modal-div {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

div.signin-div {
  margin-bottom: 15px;
  align-items: center;
}

div.flex-btn {
  display: flex;
  gap: 20px;
}

label.label-title {
  font-weight: bold;
  font-size: 16px;
  width: 130px;
}

label.login-title {
  font-weight: bold;
  font-size: 16px;
  width: 130px;
  text-align: left;
}

label.signin-title {
  display: block;
  font-weight: bold;
  font-size: 16px;
  width: 130px;
  text-align: left;
  margin-bottom: 10px;
}

span.email {
  font-weight: 500;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline-end: 0;
}

/* .below-safety-stock {
  font-weight: bold;
  background-color: #ffeded;
} */