#btnFilter:active {
    background-color: #d9d9d9;
    color: #000;
}

:where(.css-dev-only-do-not-override-vjiwc5).ant-steps .ant-steps-item-finish .ant-steps-item-icon {
    background-color: #fff;
}

:where(.css-dev-only-do-not-override-vjiwc5).ant-steps .ant-steps-item-wait .ant-steps-item-icon {
    background-color: #fff;
    border-color: #d9d9d9;
}